NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
GOOGLE_PLACES_API_KEY=
ALLOWED_USER_EMAIL=
GOOGLE_PLACES_MAX_CALLS_PER_SEARCH=20
META_INSTAGRAM_USER_ID=
META_INSTAGRAM_ACCESS_TOKEN=
META_GRAPH_API_VERSION=v23.0
NEXT_PUBLIC_USE_MOCK_DATA=true
